div {
	border: 1px solid black;
}
/*Header*********************/
header {
	display: flex;
	align-items: center;
	font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.logo span {
	margin-left: 10px;
	color: MediumAquamarine;
}

nav {
	margin-right: 40px;
}

nav span {
	padding: 10px 20px;
}
nav a {
	color: #000;
}
/***************************/

/*Main Content**************/
.content {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.column {
	display: flex;
	flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
	width: 240px;
	margin-right: 40px;
}
/***************************/